* {
    padding: 0;
    font-family: cursive;
    margin: 0;
    text-transform: capitalize;
}

.container {
    border: 4px solid rgb(112, 3, 90);
    border-radius: 9px;
    height: 80vh;
    width: 80vw;
    margin: 1vh auto 0vh;
}

.top {
    border: 4px solid rgb(112, 3, 90);
    border-radius: 9px;
    margin: 1vh auto 3vh;
}

.top {
    background-color: rgb(228, 50, 228);
    height: 12vh;
    width: 80vw;
    border: 4px solid rgb(112, 3, 90);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.5vw;
}

.h {
    padding-left: 2vw;
    padding-right: 2vw;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(211, 11, 201);
    backdrop-filter: blur(15px);
    border: 4px solid rgb(112, 3, 90);
    font-size: 4em;
    height: 6.5vh;
    width: 70px;
    border-radius: 8px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 670px) {
    .two h2 {
        font-size: smaller;
        margin-right: 0vw;
    }

    .h {
        padding-left: 0vw;
        font-size: small;
    }

    .plus {
        height: 5vh;
        width: 45px;
        font-size: medium;
    }
}

.container {
    display: flex;
    height: 80vh;
    width: 80vw;
}

.left {
    overflow: scroll;
    border: 4px solid purple;
    border-radius: 2px;
    width: 42vw;
    height: 99.1%;
    overflow-x: hidden;
}

.drop {
    width: 38vw;
    overflow-x: hidden;
}

.thry {
    display: flex;
    align-items: center;
    border: 4px solid purple;
    border-radius: 1.5px;
    background-color: rgb(230, 23, 230);
    height: 9vh;
    width: 100%;


    h2 {
        padding-left: 3vw;
    }
}

.bdy {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    /* background-color: rgb(22, 72, 116); */
}

.box {
    margin: 2.5vh 1vw;
    border: 3px solid black;
    border-radius: 5px;
    height: 12vh;

}

#pr {
    background-color: rgb(59, 165, 165);
}

.popup {
    display: flex;
}

.popcont {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0%;
    left: 30%;
    top: 5%;
    max-height: 650px;
    width: 600px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: aliceblue;

}

.task,
.progress,
.level,
.date,
.btn {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 12px auto;

    label {
        font-size: 1.6em;
    }

    input {
        border: 2px solid black;
        height: 5vh;
        border-radius: 6px;
        padding-left: 16px;
    }

    select {
        border: 2px solid black;
        height: 5vh;
        border-radius: 6px;
        padding-left: 16px;
    }

    button {
        border: 2px solid black;
        height: 6vh;
        width: 8vw;
        border-radius: 6px;
        font-size: 1.5em;
        margin: 0vh auto;
    }
}

.taskitem {
    height: 24vh;
    width: 95%;
    border: 4px solid rgb(147, 8, 169);
    margin: 10px auto;
    border-radius: 7px;

}

.t {
    height: 2vh;
    font-size: x-large;
    font-weight: bold;
    padding-left:1vh;
    text-decoration: underline;
}

.bflex {
    padding: 1.4vh 1vh .5vh 1.4vh;
    gap: 1.5vw;
    margin: 14px auto;
    display: flex;
    align-items: center;

    label {
        font-size: 1.3em;
        font-family: cursive;
        font-weight: 900;
    }

    select {

        height: 4.5vh;
        width: 9vw;
        border: 3px solid rgb(1, 0, 1);
        border: 7px;
        font-family: cursive;
        background-color: rgba(127, 255, 212, 0.767);
    }
}

.due {

    label {
        padding-left: 1vh;
        font-size: 1.3em;
        font-family: cursive;
        font-weight: bold;
    }

    input {

        height: 4.5vh;
        width: 9vw;
        border: 3px solid purple;
        border: 7px;
        background-color: rgba(106, 245, 199, 0.769);
    }
}
.stime{
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 1vh auto;
    height:4.5vh ;
    width: 18vw;
    border:3px solid red;
    background-color: rgb(247, 47, 127);
    border-radius: 7px;
    font-size: x-large;
    font-weight: bolder;
}